<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.ajh.s4.notice.NoticeDAO">

	<select id="getSelect" parameterType="com.ajh.s4.notice.NoticeDTO" resultType="com.ajh.s4.notice.NoticeDTO">
		SELECT * FROM NOTICE WHERE NUM=#{num}
	</select>
	
	<select id="getList" resultType="com.ajh.s4.notice.NoticeDTO">
		 SELECT * FROM (SELECT rownum R, NT.* FROM (SELECT * FROM NOTICE ORDER BY NUM DESC) NT) WHERE R BETWEEN #{startRow} AND #{lastRow}
	</select>
	
	<insert id="setInsert" parameterType="com.ajh.s4.notice.NoticeDTO">
		INSERT INTO NOTICE (NUM, TITLE, CONTENTS, WRITER) VALUES (NOTICE_SEQ.NEXTVAL, #{title}, #{contents}, #{writer})
	</insert>
	
	<delete id="setDelete" parameterType="java.lang.Long">
		DELETE NOTICE WHERE NUM=#{num}
	</delete>
	
	<update id="setUpdate" parameterType="com.ajh.s4.notice.noticeDTO">
		UPDATE NOTICE SET TITLE=#{title}, CONTENTS=#{contents} WHERE NUM=#{num}
	</update>
		
</mapper>